<!-- <p>cadastro-equipamento works!</p> -->

<h3 class="text-align: center"><u>Cadastro de Equipamento</u></h3>
<div class="row">
    <form class="col s12" [formGroup]="equipamentoFrom" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="input-field col s6">
                <input id="numeroDeSerie" equipamentoFrom="numSerie" type="text" class="validate">
                <label for="numeroDeSerie">Número de Série</label>
            </div>
            <div class="input-field col s6">
                <input id="tipo" equipamentoFrom="tipo" type="text" class="validate">
                <label for="tipo">Tipo</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input id="marca" equipamentoFrom="marca" type="text" class="validate">
                <label for="marca">Marca</label>
            </div>
            <div class="input-field col s6">
                <input id="modelo" equipamentoFrom="modelo" type="text" class="validate">
                <label for="modelo">Modelo</label>
            </div>
        </div>

        <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                    <textarea id="defeitoCliente" equipamentoFrom="defeitoCliente" class="materialize-textarea"></textarea>
                    <label for="defeitoCliente">Defeito (Cliente)</label>
                </div>
              </div>
            </form>
        </div>

        <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                    <textarea id="defeitoTecnico" equipamentoFrom="defeitoTecnico" class="materialize-textarea"></textarea>
                    <label for="defeitoTecnico">Defeito (Técnico)</label>
                </div>
              </div>
            </form>
        </div>
        
        <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                    <textarea id="observacao" equipamentoFrom="observacao" class="materialize-textarea"></textarea>
                    <label for="observacao">Observação</label>
                </div>
              </div>
            </form>
        </div>

        <button class="btn waves-effect waves-light" type="submit" [disabled]="!equipamentoFrom.valid" name="action" >Salvar
            <i class="material-icons right">send</i>
        </button>

    </form>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>

